Package: com.yourname.txctiktok
Name: TxC-TikTok
Version: 1.0
Architecture: iphoneos-arm
Description: Tweaking TikTok app
Maintainer: Your Name <your@email.com>
Author: Your Name <your@email.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)